@charset "utf-8";

/*
CIS Web Development 1 Project V3
Author: Brittany Muckle
Date: 5/29/2020

Filename: styles.css
*/


/* Structural Styles */
html{
    background-color: rgb(117, 111, 111);
  }

.grid-container {
  display: grid;
  grid-template-columns: 10px 20px 20px 10px;
  grid-template-rows: auto auto auto auto;
}

figure{
  border: thin pink;
  margin: auto;
  display: inline-block;
  text-align: center;
}
  body {
    color: pink;
    margin: auto;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
  }  

  header{ 
    background-color:rgb(117, 111, 111);
    color: black;
    margin: auto; 
    text-align: center;
  }

  div.relative { 
    position: relative;
    display: block;
    top: 100px;
    right: 0px;
    width: 200px;
    height: 200px;
  }
  .menu {
    background-color: rgb(117, 111, 111);
    padding: 20px;
    list-style: none;
    text-align: center;
  }
  .menu li {
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
  }
  .kenziephotos {
    background-image: linear-gradient(rgb(117, 111, 111), pink);
    padding: 20px;
    text-align: center;
  }
  
  .kenziephotos li {
    display:inline-block;
  }
  .boxed-container {
    text-align: center;
  }
  .boxed {
    border:1px solid pink;
    max-width: 600px; 
    line-height: 2;
    display: inline-block;
    
  }
  body > p {
    text-align:center;
    font-size: 1.1em;
  }
  /*PulldownMenu Styles*/
  /*M5LO4 Use CSS for pull-down menus (or collapsible/expandable areas) 
  (CSS, note where the menu is on your site and how it behaves)*/
  ul.submenu {
    display: none;
  }
  a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
    display: block;
  }
  h1 {
    font: xx-large;
    text-align: center;
  }
  p {
    text-align: center;
    font: xx-large;
    font-style: italic;
  }
  /*M5LO7 Demonstrate use of properties of flexbox containers 
  (CSS, document what flexbox container properties you use and their impacts, for one CSS selector using them)*/
  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: blue;
  }
  #flex-item1 {
    background-color: blueviolet;
    color: black;
  }
  #flex-item2 {
    background-color: chartreuse;
    color: black;
  }
  #flex-item3 {
    background-color: cornsilk;
    color: black;
  }
  footer {
    background: pink;
    color: black;
  }
  /*M5LO7 Demonstrate use of properties of flexbox containers 
  (CSS, document what flexbox container properties you use and their impacts, for one CSS selector using them)*/
  .Flex-Container-Comments {
    display: flex;
    flex-direction: row;
    background-color: pink;
  }
  /*M5LO5 Demonstrate the use of flexboxes on a web page 
  (CSS document where you use flexboxes; explain their impact on the page's layout; this can be a new page or a redo of an existing page)
  M5LO6 Demonstrate use of properties of flexbox items 
  (CSS, document what flexbox item properties you use and their impacts, for one CSS selector using them)*/
  #QuinD {
    background-color: rgb(117, 111, 111); 
    color: black;
    
  }
  #TaleathaS {
    background-color: black;
    color: pink;
  }
  #SabrinaR {
    background-color: rgb(117, 111, 111);
    color: black;
  }
  .aboutdiv {
    text-align: center;
  }

  address{
    text-align:center;
    color: black;
    font-size: large;
  }
  