@charset "utf-8";

/*
CIS Web Development 1 Project V3
Author: Brittany Muckle
Date: 6/15/2020

Filename: styles.css
*/


/* Structural Styles */
html{
  background-image: linear-gradient(rgb(117, 111, 111), pink);
  }
figure{
  border: thin pink;
  margin: auto;
  display: inline-block;
  text-align: center;
}
  body {
    color: black;
    margin: auto;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    text-align: center;
  }  
  header{ 
    color: black;
    margin: auto; 
    text-align: center;
  }
  .menu {
    list-style: none;
    text-align: center;
  }
  /*M8LO10 Demonstrate a 
  CSS animation or transition*/
  .menu a {
    color:black;
    font-size: 1em;
    letter-spacing:0em;
  }
  .menu a:hover {
    color:plum;
    font-size: 2em;

  }
  .menu li {
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .kenziephotos {
    text-align: center;
  }
  .kenziephotos li {
    display:inline-block;
  }
  .boxed-container {
    text-align: center;
  }
  .boxed {
    border:1px solid pink;
    max-width: 600px; 
    line-height: 2;
    display: inline-block;
    
  }
  div {
    text-align: center;
  }
  /*M7LO11 Demonstrate how to format a form with CSS 
  (group your form styles together in your CSS file, and document their overall impact on the form)*/
  div#formRow {
    text-align: left;
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
  }
 div#buttons {
   text-align: center;
 }
 /*M8LO12 Demonstrate how to format media with CSS*/
 video {
   display: block;
   margin: 10px;
   width: 50%;
 }
  h1 {
    font: xx-large;
    text-align: center;
  }
  ul li {
    text-align: center;
  }
  p {
    text-align: center;
    font: xx-large;
    font-style: italic;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: pink;
  }
  #flex-item1 {
    background-color: white;
    color: black;
  }
  #flex-item2 {
    background-color: plum;
    color: black;
  }
  #flex-item3 {
    background-color: cornsilk;
    color: black;
  }
  footer {
    color: black;
    text-align: center;
  }
  .Flex-Container-Comments {
    display: flex;
    flex-direction: row;
    background-color: pink;
  }
  #QuinD {
    background-color: rgb(117, 111, 111); 
    color: black;
    
  }
  #TaleathaS {
    background-color: black;
    color: pink;
  }
  #SabrinaR {
    background-color: rgb(117, 111, 111);
    color: black;
  }
  .aboutdiv {
    text-align: center;
  }
  address{
    text-align:center;
    color: black;
    font-size: large;
  }
  